body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 10vh;
}

html, body {
  margin: 0;
}

a {
  color: #00B7FF;
}

#principalnav {
  width: 100vw;
  height: 10vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
}

#principalnav span {
  width: 50%;
}

#principalnav span:nth-child(1) {
  margin-left: 3vw;
}

#principalnav span:nth-child(2) {
  margin-right: 3vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#principalnav span:nth-child(2) a {
  margin-right: 20px;
  color: black;
  text-decoration: none;
}

.signupcontainer {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://i.pinimg.com/originals/53/47/16/53471658c4ed95e72a2ed6058361a367.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.signup {
  width: 60%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 25%;
}

.signup-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
}

.signup-form form input {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  outline: none;
}

.signup-form form input:last-child {
  width: 50%;
}

#profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;
}

#profile div:first-child {
  
}